body {
    margin: 0;
    /*font-family: 'Roboto', sans-serif;*/
    font-family: 'Fira Sans Condensed', sans-serif;
}

* {
    box-sizing: border-box;
}

.main {
    position: relative;
    padding-top: 120px;
    background: url("images/mountains.jpg") no-repeat center;
    background-size: cover;
    height: 100vh;
}

.header_container {
    background-color: #f8f8f8;
    display: flex;
    justify-content: space-between;
    height: 70px;
    padding-left: 30px;
    padding-right: 30px;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
}

.logo_link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fc0;

}

.logo_picture {
    margin-right: 10px;
}

.link_list {
    display: flex;
    align-items: center;
    height: 100%;
    width: 60%;
}

.header_link {
    flex-grow: 1;
    text-decoration: none;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #777777;
    font-size: 14px;
}

.header_link:hover {
    color: cadetblue;
}

.header_link-active {
    background-color: #fc0;
    color: #ffffff;
}

.header_link-active:hover {
    color: #ffffff;
}

.ham_button {
    position: relative;
    display: none;
    border: 1px solid silver;
    border-radius: 10px;
    width: 50px;
    height: 45px;
    cursor: pointer;
}

.ham_line {
    position: absolute;
    background-color: darkgray;
    height: 3px;
    width: 30px;
    top: 50%;
    margin-top: -1.5px;
    transform: translateX(-50%);
    display: block;
    left: 50%;
}

.ham_line:before {
    content: "";
    background-color: darkgray;
    height: 3px;
    width: 30px;
    margin-top: -7px;
    display: block;
}

.ham_line:after {
    content: "";
    background-color: darkgray;
    height: 3px;
    width: 30px;
    margin-top: 11px;
    display: block;
}

.main_container {
    height: 100%;
    display: flex;
    width: 90%;
    margin: auto;
}

.main_rightcontent {
    width: 50%;
}

.info_home {
    /*width: 50%;*/
    font-size: 30px;
    color: white;
    padding-top: 35px;
}

.stick {
    display: flex;
    border: 1px solid whitesmoke;
    width: 420px;
    height: 30px;
    color: white;
    background-color: #fc0;
    border-radius: 20px;
    font-size: 16px;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.main_leftcontent {
    width: 50%;
}

.text_home {
    color: white;
    font-size: 30px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0 10px 10px 10px;

}

.advantages {
    position: relative;
    margin-bottom: 50px;
}

.adv_container {
    display: flex;
    height: 100%;
    width: 90%;
    margin: auto;
}

.adv_list {
    display: flex;
    flex-direction: column;
    padding-left: 300px;
    position: relative;
}

.check_picture {
    left: -200px;
    position: absolute;
}

.adv_item {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
}

/*.adv_item:before {
    display: block;
    position: absolute;
    content: "";
    width: 130px;
    height: 130px;
    left: 145px;
    background: url("/images/checked.png");

}*/

.head_texitem {
    color: cadetblue;
    font-size: 40px;
    position: relative;
}

.text_item {
    width: 80%;
    padding-top: 20px;
    font-size: 28px;
}

.with_guide {

}

.guide_container {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    margin: auto;
    width: 100%;

}

.info_guide {
    height: 100%;
    width: 100%;
    background-color: #ffcc00;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 28px;
    color: white;
    justify-content: center;

}

.text_guide {
    margin-bottom: 50px;
    color: #777777;
}

.btn_guide {
    border: 1px solid #777777;
    border-radius: 25px;
    text-decoration: none;
    width: 400px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #777777;
    font-size: 28px;
}

.btn_guide:hover {
    background-color: rgba(0, 0, 0, 0.5);
    color: cadetblue;
    border: 1px solid whitesmoke;
}

.imgwrap_guide {
    max-width: 100%;

}

.img_guide {
    max-width: 100%;
    width: 100%;
    height: 100%;
}

.acquaintance {

}

.line1 {
    background: #2d3347;
    width: 100%;
    height: 100px;
}

.acquaintance_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.aq_info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aq_head {
    color: cadetblue;
    font-size: 40px;
    padding-bottom: 20px;
    padding-top: 10px;
}

.aq_text {
    font-size: 20px;
    padding-bottom: 20px;
}

.btn_aq {
    border: 1px solid #777777;
    border-radius: 25px;
    text-decoration: none;
    width: 400px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #777777;
    font-size: 28px;
    align-self: center;
    margin-bottom: 30px;
}

.btn_aq:hover {
    background-color: rgba(0, 0, 0, 0.5);
    color: cadetblue;
    border: 1px solid whitesmoke;
}

.aq_img {
    max-width: 100%;
}

.contacts {

}

.contacts_container {
    background: #2d3347;
}

.contacts_list {
    color: white;
    display: flex;
    justify-content: space-evenly;
}

.contact_item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact_logo {
padding-top: 20px;
}

.contact_details {
    padding-top: 20px;
    padding-bottom: 20px;
}

.feedback {
    margin-top: 30px;
    margin-bottom: 30px;
}


@media only screen and (max-width: 953px) {
    .main_container {
        flex-direction: column;
        display: flex;
        align-items: center;
    }
}

@media only screen and (max-width: 800px) {
    .link_list {
        width: 70%;
    }

}

@media only screen and (max-width: 731px) {

    .main {

    }

    .header {

    }

    .link_list {
        position: absolute;
        flex-direction: column;
        top: 70px;
        left: 0;
        width: 100%;
        height: auto;
        transition: transform 0.5s;
        transform-origin: top;
        opacity: 0;
        transform: scaleY(0);
        background-color: white;

    }

    .link_list-show {
        opacity: 1;
    }

    .link_list-active {
        transform: scaleY(1);
        opacity: 1;

    }

    .header_link {
        width: 100%;
        justify-content: flex-start;
        height: 60px;
        padding-left: 30px;
        border-bottom: 1px solid whitesmoke;

    }

    .header_link-active {
        opacity: 1;
    }

    .ham_button {
        display: block;

    }

    .main_leftcontent {
        display: flex;
        flex-direction: inherit;
    }

    .stick {
        display: flex;
        align-self: center;
    }

    .guide_container {
        grid-template-columns: 1fr;
    }

    .acquaintance_container {
        display: grid;
        grid-template-columns: 1fr;
    }

    .contacts_list {
        flex-direction: column;
    }
}
